.contact-card {
    width: 600px;
}

.badge {
    padding: 8px;
    cursor: pointer;
}

.collapse-details {
    width: 100%;
    padding: 16px 0;
}

.form-control {
    margin: 8px 0;
}

.btn {
    margin: 8px 0;
}